<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activityRuleDetial.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,644},{480,518}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{480,518}}</string>
                <key>sourceSize</key>
                <string>{486,524}</string>
            </dict>
            <key>gameOverPanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{640,688}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,688}}</string>
                <key>sourceSize</key>
                <string>{640,692}</string>
            </dict>
            <key>gameRule.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1164},{480,442}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{480,442}}</string>
                <key>sourceSize</key>
                <string>{484,446}</string>
            </dict>
            <key>rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{588,870}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,870}}</string>
                <key>sourceSize</key>
                <string>{590,872}</string>
            </dict>
            <key>submitStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{640,542}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,542}}</string>
                <key>sourceSize</key>
                <string>{640,544}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bSprites.png</string>
            <key>size</key>
            <string>{1136,1608}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4c474d137062d9f0d5857701c477b6f:b6124c3703af680081aef8143f466d9f:91c6ee6ee4774e5ff4232886e63b1088$</string>
            <key>textureFileName</key>
            <string>bSprites.png</string>
        </dict>
    </dict>
</plist>
