<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gold_p-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,0},{90,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,155}}</string>
                <key>sourceSize</key>
                <string>{90,155}</string>
            </dict>
            <key>gold_p-1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,96},{78,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,95}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>gold_p-1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,0},{78,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,95}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>gold_p-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,156},{90,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,155}}</string>
                <key>sourceSize</key>
                <string>{90,155}</string>
            </dict>
            <key>gold_p-2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,192},{78,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,95}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>gold_p-2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,96},{78,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,95}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>gold_p-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,0},{90,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,155}}</string>
                <key>sourceSize</key>
                <string>{90,155}</string>
            </dict>
            <key>gold_p-3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,0},{78,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,95}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>gold_p-3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,192},{78,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,95}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>gold_p-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,0},{90,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,155}}</string>
                <key>sourceSize</key>
                <string>{90,155}</string>
            </dict>
            <key>gold_p-5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,96},{78,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,95}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>gold_p-5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,0},{78,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,95}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>gold_p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,156},{90,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,155}}</string>
                <key>sourceSize</key>
                <string>{90,155}</string>
            </dict>
            <key>gold_p1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,192},{78,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,95}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>gold_p1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,96},{78,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,95}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>gold_p2.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,0},{90,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,155}}</string>
                <key>sourceSize</key>
                <string>{90,155}</string>
            </dict>
            <key>gold_p2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,0},{78,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,95}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>gold_p2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,192},{78,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,95}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>gold_p3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,156},{90,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,155}}</string>
                <key>sourceSize</key>
                <string>{90,155}</string>
            </dict>
            <key>gold_p3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,96},{78,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,95}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>gold_p3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,133},{78,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,95}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>gold_p5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{90,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,155}}</string>
                <key>sourceSize</key>
                <string>{90,155}</string>
            </dict>
            <key>gold_p5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,0},{78,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,95}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>gold_p5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,0},{78,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,95}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>gold_p_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,92},{72,91}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{72,91}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>gold_p_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,229},{36,91}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,2},{36,91}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>gold_p_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,247},{14,91}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,2},{14,91}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>gold_p_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,96},{36,91}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,2},{36,91}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>gold_p_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,0},{72,91}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{72,91}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gSprites.png</string>
            <key>size</key>
            <string>{1014,270}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05fd3acaa0e1291db65786e7ab972d76:77b7cfa4e3c6ebf4ce861dfad9b4e31a:783884ec1a722fb39c74ecba19da48fa$</string>
            <key>textureFileName</key>
            <string>gSprites.png</string>
        </dict>
    </dict>
</plist>
