<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activityRule_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,228},{159,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{159,52}}</string>
                <key>sourceSize</key>
                <string>{161,54}</string>
            </dict>
            <key>activityRule_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,336},{159,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{159,52}}</string>
                <key>sourceSize</key>
                <string>{161,54}</string>
            </dict>
            <key>exit_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,364},{126,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,41}}</string>
                <key>sourceSize</key>
                <string>{126,41}</string>
            </dict>
            <key>exit_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,442},{126,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,41}}</string>
                <key>sourceSize</key>
                <string>{126,41}</string>
            </dict>
            <key>gameOverTxta.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,70},{291,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{291,23}}</string>
                <key>sourceSize</key>
                <string>{293,23}</string>
            </dict>
            <key>gameOverTxtb.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,128},{266,21}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{266,21}}</string>
                <key>sourceSize</key>
                <string>{270,21}</string>
            </dict>
            <key>help_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,226},{159,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,53}}</string>
                <key>sourceSize</key>
                <string>{159,53}</string>
            </dict>
            <key>help_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,172},{159,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,53}}</string>
                <key>sourceSize</key>
                <string>{159,53}</string>
            </dict>
            <key>life.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,70},{240,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{240,57}}</string>
                <key>sourceSize</key>
                <string>{242,59}</string>
            </dict>
            <key>missions.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{270,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{270,69}}</string>
                <key>sourceSize</key>
                <string>{270,71}</string>
            </dict>
            <key>points.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,172},{161,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{161,55}}</string>
                <key>sourceSize</key>
                <string>{161,59}</string>
            </dict>
            <key>rankClose_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,386},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>rankClose_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,388},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>rank_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,226},{125,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,44}}</string>
                <key>sourceSize</key>
                <string>{125,44}</string>
            </dict>
            <key>rank_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,0},{125,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,44}}</string>
                <key>sourceSize</key>
                <string>{125,44}</string>
            </dict>
            <key>ruleReturn_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,295},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>ruleReturn_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,226},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>start_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,87},{126,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,41}}</string>
                <key>sourceSize</key>
                <string>{126,41}</string>
            </dict>
            <key>start_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,45},{126,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,41}}</string>
                <key>sourceSize</key>
                <string>{126,41}</string>
            </dict>
            <key>submitBtn_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,443},{159,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,53}}</string>
                <key>sourceSize</key>
                <string>{159,53}</string>
            </dict>
            <key>submitBtn_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,389},{159,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,53}}</string>
                <key>sourceSize</key>
                <string>{159,53}</string>
            </dict>
            <key>submitTxt.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,150},{252,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,21}}</string>
                <key>sourceSize</key>
                <string>{252,21}</string>
            </dict>
            <key>ticket_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,282},{159,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,53}}</string>
                <key>sourceSize</key>
                <string>{159,53}</string>
            </dict>
            <key>ticket_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,228},{159,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,53}}</string>
                <key>sourceSize</key>
                <string>{159,53}</string>
            </dict>
            <key>time_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,389},{77,47}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{77,47}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>time_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,467},{23,45}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,4},{23,45}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>time_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,123},{35,45}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{35,45}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>time_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,87},{35,45}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{35,45}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sSprites@s.png</string>
            <key>size</key>
            <string>{404,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:485689a00d19c851327878f447ea2533:f7ad0265d6665ad157f3742bfd25b4c6:0e147cd94ddddadc9db47c62e98f3ed6$</string>
            <key>textureFileName</key>
            <string>sSprites@s.png</string>
        </dict>
    </dict>
</plist>
