<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activityRule_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{210,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{210,70}}</string>
                <key>sourceSize</key>
                <string>{214,72}</string>
            </dict>
            <key>activityRule_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,536},{210,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{210,70}}</string>
                <key>sourceSize</key>
                <string>{214,72}</string>
            </dict>
            <key>exit_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1384},{168,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,54}}</string>
                <key>sourceSize</key>
                <string>{168,54}</string>
            </dict>
            <key>exit_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1546},{168,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,54}}</string>
                <key>sourceSize</key>
                <string>{168,54}</string>
            </dict>
            <key>gameOverTxta.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,536},{386,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{386,28}}</string>
                <key>sourceSize</key>
                <string>{390,30}</string>
            </dict>
            <key>gameOverTxtb.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,924},{354,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{354,28}}</string>
                <key>sourceSize</key>
                <string>{360,28}</string>
            </dict>
            <key>help_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{210,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,70}}</string>
                <key>sourceSize</key>
                <string>{212,70}</string>
            </dict>
            <key>help_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,748},{210,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,70}}</string>
                <key>sourceSize</key>
                <string>{212,70}</string>
            </dict>
            <key>life.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{318,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{318,74}}</string>
                <key>sourceSize</key>
                <string>{322,78}</string>
            </dict>
            <key>missions.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{358,90}}</string>
                <key>sourceSize</key>
                <string>{360,94}</string>
            </dict>
            <key>points.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,322},{212,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{212,72}}</string>
                <key>sourceSize</key>
                <string>{214,78}</string>
            </dict>
            <key>rankClose_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1886},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>rankClose_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,1814},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>rank_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1210},{166,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,56}}</string>
                <key>sourceSize</key>
                <string>{166,58}</string>
            </dict>
            <key>rank_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1378},{166,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,56}}</string>
                <key>sourceSize</key>
                <string>{166,58}</string>
            </dict>
            <key>ruleReturn_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,1724},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ruleReturn_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1885},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>start_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,1554},{168,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,54}}</string>
                <key>sourceSize</key>
                <string>{168,54}</string>
            </dict>
            <key>start_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1716},{168,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,54}}</string>
                <key>sourceSize</key>
                <string>{168,54}</string>
            </dict>
            <key>submitBtn_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{210,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{210,70}}</string>
                <key>sourceSize</key>
                <string>{212,70}</string>
            </dict>
            <key>submitBtn_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,960},{210,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{210,70}}</string>
                <key>sourceSize</key>
                <string>{212,70}</string>
            </dict>
            <key>submitTxt.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1280},{336,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,28}}</string>
                <key>sourceSize</key>
                <string>{336,28}</string>
            </dict>
            <key>ticket_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{210,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{210,70}}</string>
                <key>sourceSize</key>
                <string>{212,70}</string>
            </dict>
            <key>ticket_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1172},{210,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{210,70}}</string>
                <key>sourceSize</key>
                <string>{212,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sSprites.png</string>
            <key>size</key>
            <string>{176,1975}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:086ef6f1f2e4d570ec852140349649a5:e81fa47e68d251e02cb5ab6140fde9c3:f40a53d210d6b968f483055ee6164d0c$</string>
            <key>textureFileName</key>
            <string>sSprites.png</string>
        </dict>
    </dict>
</plist>
